/**
 * CONTENTS
 *
 * SETTINGS
 * Default..............inuitcss’ default settings.
 * Responsive...........Set up and name our breakpoints.
 *
 * TOOLS
 * Functions............inuitcss’ default functions.
 * Mixins...............inuitcss’ default mixins.
 * Responsive...........Responsive tooling (requires responsive settings).
 *
 * GENERIC
 * Reset................A pared back reset to remove margins.
 * Normalize............A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Page.................Page-level styles (HTML element).
 * Lists................inuitcss list styles.
 * Images...............inuitcss images.
 *
 * OBJECTS
 * Font-size............Consistent font sizes.
 * Buttons..............inuitcss’ buttons object.
 * Layout...............inuitcss’ layout tool.
 * Media................The media object.
 * Flag.................The flag object.
 * Bare list............Bare unstyled lists.
 * Inline list..........Align list items side by side.
 *
 * TRUMPS
 * Clearfix.............I can’t believe we still need this in 2014.
 * Widths...............Inuit widths helpers.
 * Widths-responsive....Width helpers based on defined breakpoints.
 * Spacing..............Micro-level spacing helpers.
 */


/**
 * #SETTINGS
 */
@import "inuit-defaults/settings.defaults";
@import "inuit-responsive-settings/settings.responsive";


/**
 * #TOOLS
 */
@import "inuit-functions/tools.functions";
@import "inuit-mixins/tools.mixins";
@import "inuit-responsive-tools/tools.responsive";


/**
 * #GENERIC
 */
@import "inuit-reset/generic.reset";
@import "inuit-normalize/generic.normalize";
@import "inuit-box-sizing/generic.box-sizing";


/**
 * #BASE
 */
@import "inuit-page/base.page";
@import "inuit-lists/base.lists";
@import "inuit-images/base.images";


/**
 * #OBJECTS
 */
@import "objects.font-size";
@import "inuit-buttons/objects.buttons";
@import "inuit-layout/objects.layout";
@import "inuit-media/objects.media";
@import "inuit-flag/objects.flag";
@import "inuit-list-bare/objects.list-bare";
@import "inuit-list-inline/objects.list-inline";


/**
 * #TRUMPS
 */
@import "inuit-clearfix/trumps.clearfix";
@import "inuit-widths/trumps.widths";
@import "inuit-widths-responsive/trumps.widths-responsive";
@import "inuit-spacing/trumps.spacing";
@import "inuit-spacing-responsive/trumps.spacing-responsive";
